.title {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    &-start {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        text-align: start;
        gap: 16px;
    }
}

.happens {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    @include media (tablet) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &-items {
        max-width: 940px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 24px;
    }

    &-item {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        gap: 8px;

        p {
            color: $color-subtext;
            font-weight: 400;
            font-size: 18px;
        }
    }

    &-img {
        width: 100%;
        height: auto;
        border-radius: 8px;

        @include media (tablet) {
            min-width: 200px;
            max-width: 550px;
            height: auto;
        }
    }
}