.steps {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    @include media (tablet) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &-images {
        position: relative;
        width: 100%;

        @include media (tablet) {
            min-width: 200px;
            max-width: 550px;
        }

        .steps-img {
            width: 100%;
            height: auto;
            display: none;

            &.active {
                display: block;
                animation: bounceIn 1s ease-out;
            }

            @include media (mobile) {
                display: block;
                margin-top: 16px;
            }
        }
    }

    &-card {
        @include media (mobile) {
            position: sticky;
            top: 100px; // Adjust based on header height
            background-color: white;
            padding: 24px;
            border-radius: 16px;
            box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.05);
            margin-bottom: 24px;
            display: flex;
            flex-direction: column;
            gap: 16px;

            &:nth-child(2) {
                top: 120px;
            }

            &:nth-child(3) {
                top: 140px;
            }

            &:nth-child(4) {
                top: 160px;
            }

            &:nth-child(5) {
                top: 180px;
            }

            .steps-items-content {
                padding: 0;
                background-color: transparent;

                .steps-items-content-text {
                    font-size: 20px;
                    font-weight: 700;
                    color: $color-brand-primary;
                }
            }
        }
    }

    &-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 8px;

        &-content {
            padding: 8px;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            gap: 8px;
            background-color: transparent;
            cursor: pointer;

            &-number {
                font-size: 32px;
                line-height: auto;
                font-weight: 700;
                color: $color-brand-primary;
            }

            &-text {
                font-size: 18px;
                line-height: auto;
                font-weight: 400;
                color: $color-subtext;
            }

            &:hover,
            &.active {
                padding: 8px;
                background-color: #dfdfdf34;

                .steps-items-content-text {
                    font-size: 20px;
                    line-height: auto;
                    font-weight: 700;
                    color: $color-brand-primary;
                }
            }

        }
    }
}

@keyframes bounceIn {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.08);
    }

    70% {
        transform: scale(0.96);
    }

    100% {
        transform: scale(1);
    }
}

#steps-desktop {
    display: none;

    @include media (tablet) {
        display: flex;
    }
}

#steps-mobile {
    display: flex;

    @include media (tablet) {
        display: none;
    }

    .steps-items {
        gap: 0; // The margin-bottom in .steps-card handles spacing
    }
}