.users {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    @include media (tablet) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &-content {
        padding: 8px 8px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 40px;
        padding: 8px;
        background-color: transparent;

        &-items {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 8px;

            &-item {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                gap: 8px;

                p {
                    color: $color-subtext;
                    font-weight: 400;
                    font-size: 18px;
                }
            }
        }
    }

    &-relevant {
        color: $color-brand-primary;
        font-weight: 700;
        font-size: 22px;
    }
}



.steps-img {
    width: 100%;
    height: auto;

    @include media (tablet) {
        min-width: 200px;
        max-width: 550px;
        height: auto;
    }
}