.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 40px;

    @include media (tablet) {
        flex-direction: row;
        gap: 80px;
    }
}

.footer-legals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    &-social {
        display: flex;
        gap: 8px;
    }
}

.footer-logo {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color: $color-subtext;
    }
}

.footer-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-self: start;
    gap: 40px;

    @include media (tablet) {
        flex-direction: row;
        gap: 24px;
    }

    &-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        p {
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            text-align: left;
            color: $color-text;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 8px;

            li {
                a {
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 22px;
                    text-align: left;
                    color: $color-subtext;
                }

                &::before {
                    content: none;
                }
            }
        }
    }
}