.site-nav {
    width: 100%;
    padding: $spacing-100 $spacing-600;

    transition:
        background-color 0.3s ease,
        backdrop-filter 0.3s ease,
        box-shadow 0.3s ease;


    ul {
        display: flex;
        flex-direction: row;
        gap: 24px;

        li {
            padding: 8px 12px;
            border-radius: 8px;

            &::before {
                content: none;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}



.nav-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    img {
        height: 22px;
        width: auto;
    }
}

/* estado al hacer scroll */
.site-nav.scrolled {
    background-color: #ffffff;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 24px;

    &-item {
        padding: 0;

        a {
            display: block;
            padding: 8px 12px;
            font-family: $font-link;
            font-size: 16px;
            font-weight: 300;
            color: $color-text;
            text-decoration: none;
            border: none;
            border-radius: 8px;

            &:hover {
                background-color: #874fff1f;
            }
        }
    }

    @include media (mobile) {
        display: none;
    }
}

.menu-icon {
    display: block;

    @include media (tablet) {
        display: none;
    }
}




////////////////////
/// 
.menu-options {
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 1000;
    height: auto;
    background-color: #ffffff;
    border: 2px solid rgba(250, 250, 250, 0.1);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 40px 16px;
    border-radius: 8px;
    gap: 24px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    -webkit-box-shadow: 2px 31px 40px -14px rgba(191, 191, 191, 1);
    -moz-box-shadow: 2px 31px 40px -14px rgba(191, 191, 191, 1);
    box-shadow: 2px 31px 40px -14px rgba(191, 191, 191, 1);

    @include media (tablet) {
        display: none;
    }
}


.inactive {
    display: none;
}


.other-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 80px;
    width: 100%;
    padding: 40px 20px;
    flex-direction: column;
    justify-content: start;
    align-items: start;


    a {
        width: 100%;
    }


    @include media (tablet) {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 16px;
        margin-bottom: 24px;
        padding-left: 0;
        list-style: none;

        li {
            width: 100%;
            padding: 8px 0;
            border-radius: 8px;
            width: 100%;

            &::before {
                content: none;
            }

            &:hover {
                cursor: pointer;
                color: $color-brand-primary;
            }
        }
    }

    .menu-item {
        padding: 0;

        a {
            display: block;
            padding: 12px;
            font-family: $font-link;
            font-size: 20px;
            font-weight: 400;
            color: $color-brand-primary;
            text-decoration: none;
            border: none;
            width: 100%;

            &:active {
                background-color: #874fff1f;
            }
        }
    }

}