// BRAND COLORS //
$color-brand-primary: #874FFF;
$color-brand-secondary: #6DF3C7;

$color-success: #2DB872;
$color-warning: #FFC107;
$color-danger: #EB5757;

$color-text: #262428;
$color-subtext: #847A8C;
$color-gray: #E1E1E1;