// FAMILY FONTS //

$font-title: 'Roboto';
$font-body: 'Roboto';
$font-detail: 'Roboto';
$font-button: 'Roboto';
$font-link: 'Roboto';

// PARAGRAPHS //

p {
    font-family: $font-body;
    color: $color-text;
    font-weight: 200;
    font-size: 16px;
    line-height: auto;
}

// HEADINGS //

.h1 {
    font-family: $font-title;
    color: #fafafa;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;

    @include media (tablet) {
        font-size: 48px;
        line-height: 56px;
    }
}

.h2 {
    font-family: $font-title;
    color: $color-text;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;

    @include media (tablet) {
        font-size: 40px;
        line-height: 56px;
    }
}

.h3 {
    font-family: $font-title;
    color: $color-text;
    font-weight: 300;
    font-size: 24px;
    line-height: auto;
}

.h4 {
    font-family: $font-title;
    font-weight: 300;
    font-size: 22px;
    line-height: auto;
}

.h5 {
    font-family: $font-title;
    font-weight: 300;
    font-size: 20px;
    line-height: auto;
}

.h6 {
    font-family: $font-title;
    font-weight: 300;
    font-size: 18px;
    line-height: auto;
}

.body-large {
    font-family: $font-body;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #fafafa;
}

.body-subtitle {
    font-family: $font-body;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: $color-subtext;
}

.body-subtitle-large {
    font-family: $font-body;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: $color-subtext;

    @include media (tablet) {
        font-size: 28px;
        line-height: 34px;
    }
}